.room-item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 150px;
    max-height: 200px;
    border-radius: 15px;
    border: 1.5px solid black;
    cursor: pointer;
}

.room-item__name {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.room-item__description {
    padding: 10px;
}